In [13]:
# import mysql.connector
import psycopg2

### Connect to database

In [14]:
my_conn = psycopg2.connect(
    host="localhost",
    database="qt5_db",
    user="postgres",
    password="1212"
    
    
)

if you have problem with user name or if you need to reset your password when you forget

In [15]:
# cur = my_conn.cursor()
# cur.execute("SELECT current_user;")
# print(cur.fetchone()[0])
# cur.close()
# my_conn.close()

### Create new Database

In [16]:
my_conn.autocommit = True
cur = my_conn.cursor()
# cur.execute("CREATE DATABASE qt5_db;")

if you need to change your password

In [17]:
# ALTER USER postgres WITH PASSWORD 'new_password';

### Show all database

In [18]:
cur.execute("SELECT datname FROM pg_database WHERE datistemplate = false;")
for db in cur.fetchall():
    print(db[0])

postgres
depi
qt5_db

### create table

In [19]:
cur.execute("CREATE TABLE students (name varchar(50), ohone varchar(20) );")
print("table created")

DuplicateTable: relation "students" already exists

In [20]:

cur.execute("  ALTER TABLE students ADD COLUMN Address VARCHAR(20);")
print("table created")

table created

In [21]:

    
cur.execute("   ALTER TABLE students RENAME COLUMN ohone TO phone;")
print("column changed")

column changed

### inset data

In [22]:

sql = "INSERT INTO students (name, phone)VALUES(%s,%s)"
data =("George samuel","01022331830")
cur.execute(sql, data)
my_conn.commit()
print("the new record was inserted")
print(cur.rowcount)#how many record are inserted

the new record was inserted
1

### insert Multiple rows

In [23]:
sql = "INSERT INTO students (name, phone)VALUES(%s,%s)"
data =[
    ("Aya","01022331830"),
    ("Renad","01022331830"),
    ("Faris","01022331830"),
    ("abdalla","01022331830"),
    ("Habiba","01022331830")
    
    
    ]
cur.executemany(sql, data)
my_conn.commit()

print(cur.rowcount,"the new record was inserted")

5 the new record was inserted

###  Select from a Table

In [24]:
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for i in results:
    print(i)

('George samuel', '01022331830', None)
('Aya', '01022331830', None)
('Renad', '01022331830', None)
('Faris', '01022331830', None)
('abdalla', '01022331830', None)
('Habiba', '01022331830', None)

In [25]:
cur.execute("SELECT name FROM students")
results = cur.fetchall()
for i in results:
    print(i)

('George samuel',)
('Aya',)
('Renad',)
('Faris',)
('abdalla',)
('Habiba',)

### filter

In [26]:
cur.execute("SELECT phone FROM students where name ='Aya'")
results = cur.fetchall()
print(results)

[('01022331830',)]

Wildcard Characters

In [ ]:
cur.execute("SELECT phone FROM students where name ='Aya'")
results = cur.fetchall()
print(results)

### Prevent SQL injection
if you need to searchfor student or user give you the input

In [ ]:
sql = "SELECT * FROM students WHERE name = %s "
data = ('Aya',)
cur.execute(sql, data)
result = cur.fetchall()
print(result)

### Update Statement

In [ ]:
cur.execute("UPDATE students set phone = '00000123567' where name = 'Aya' ")
my_conn.commit()
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for i in results:
    print(i)

Update with specific input

In [ ]:
# Get inputs from user
update_value = input("Enter new phone: ")
condition_value = input("Enter student name: ")

# Create the data tuple
data = (update_value, condition_value)

# Execute update with parameters
sql = cur.execute("UPDATE students SET phone = %s WHERE name = %s", data)
my_conn.commit()

# Fetch and print all rows
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
# Ask for the student name to delete
name_to_delete = input("Enter student name to delete: ")

# Execute delete with parameter
cur.execute("DELETE FROM students WHERE name = %s", (name_to_delete,))
my_conn.commit()

# Check if anything was deleted
if cur.rowcount > 0:
    print(f"{cur.rowcount} record(s) deleted.")
else:
    print("No student found with that name.")

# Show remaining records
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for row in results:
    print(row)